<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">

    <p id="notice"><%= notice %></p>

    <h1>Ranking alkoholi</h1>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Notatka</th>
          <th scope="col">Ocena</th>
          <th scope="col">Typ</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <% @alcohols.each do |alcohol| %>
        <tr>
            <td><%= alcohol.name %></td>
            <td><%= alcohol.note %></td>
            <td><%= alcohol.alcohol_review&.score %></td>
            <td><%= alcohol.alcohol_type&.name %></td>
            <td><%= link_to 'Pokaż', alcohol, class: "btn btn-outline-warning me-2" %></td>
            <td><%= link_to 'Edytuj', edit_alcohol_path(alcohol), class: "btn btn-outline-warning me-2" %></td>
            <td><%= link_to 'Usuń', alcohol, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning me-2" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Nowy alkohol', new_alcohol_path, class: "btn btn-outline-warning me-2" %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
